<div class="hero">
    <p class="large brandon">WARNING!</p>
    <p class="small brandon">This Application is only demonstration of reconfiguration and deploy<br>Prelaunchr to Heroku<br>treat this application as a joke</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
        <p class="compiling brandon">WE ARE NOT COMPILING REWARDS RIGHT NOW AND WILL NOT EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
        <p class="go-to brandon">In the meantime, head to  <a href="http://amikhaylin.com/">AMIKHAYLIN.COM</a></p>
        <p class="again brandon">Thank You Again!</p>
    <% else %>
        <!-- div class="key"></div -->
        <p class="byline brandon">Be the first to know</p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
        <% end %>
    <% end %>
</div>