<style type="text/css">
	body{
		text-align: center;
	}

	p{
		margin: 20px 0;
	}
</style>

<p>
    <strong>WARNING!!!</strong>
</p>
<p>
  This Application is only demonstration of customization and deploy Prelaunchr to Heroku
</p>
<p>
  Without any garantees
</p>
<p>
  Treat this application as a joke
</p>