<footer class="footer">
    <small>
      If you want to customize
      <a href="http://fourhourworkweek.com/2014/07/21/harrys-prelaunchr-email/">Harry's Prelaunchr</a>
      for your product/company, you can hire me on
      <a href="https://www.upwork.com/freelancers/~0106b53b80898fbc2f">
        Upwork
       </a>
      </small>
</footer>